#header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: black;
  height: 100px;
  flex-direction: row;
  background-color: #f3f9ff;
}

#ticket-hack {
  color: #459e85;
  font-size: 30px;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#menu {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

#cart-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#booking-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #f0f1f2;
}

main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  text-align: center;
  background-color: #f0f1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h2 {
  color: white;
  font-size: 2.75rem;
  font-family: "Noto Sans KR", sans-serif;
}

main p {
  color: white;
  font-size: 1.75rem;
}

#middle {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.card {
  background-color: white;
  width: 27%;
  border-radius: 12px;
  padding: 1.5rem;
  box-sizing: border-box;
}
/* 
      #search-trains {
      
      } */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-correction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#places-picker {
  margin-bottom: 3rem;
}

#date-picker {
  margin-bottom: 2rem;
}

#places-picker input,
#date-picker input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  background-color: #f0f1f2;
  color: #4a4b4c;
  font: inherit;
  border: #f0f1f2;
  margin-bottom: 0.1rem;
}

#places-picker input:hover,
#date-picker input:hover {
  background-color: #dadbdc;
}

#places-picker input:nth-child(1) {
  border-bottom: 1px solid #959799;
}

#places-picker input:focus,
#date-picker input:focus {
  background-color: #dadbdc;
}

#search {
  background-color: #469e86;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 7rem;
}

#trains-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

#trains-list img {
  height: 8rem;
  width: 8rem;
  margin: 4rem 0 2rem 0;
}
.separation-line {
  height: 3px;
  background-color: #469e86;
  width: 70%;
  margin-bottom: 2rem;
}

#trains-list p {
  color: #313336;
  font-size: 1rem;
  font-weight: bold;
}

#cart-card {
  /* when cart is empty*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 700px;
  text-align: center;
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

/* when cart is filled */

/*parent card containing travel lines*/

#filled-cart {
  display: flex;
  justify-content: center;
  align-items: flex;
  min-height: 300px;
  max-height: 500px;
  height: auto;
  width: 700px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  flex-wrap: wrap;
  overflow: auto;
}

#mybookings {
  align-self: flex-start;
  text-align: center;
  margin: 1rem;
}

/*the blue-marine part with total and purchase*/
#filled-cart-bottom {
  position: sticky;
  color: white;
  background: #02002f;
  bottom: 0;
  left: 0; /* La div enfant est alignée à gauche de la div parente */
  right: 0; /* La div enfant occupe toute la largeur de la div parente */
  height: 70px;
  width: 700px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

/*purchase button*/
#purchase-button {
  background-color: #469e86;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/*delete button*/
.delete-button {
  background-color: #469e86;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 1rem;
  width: 2rem;
}

/* line with travel from>to, departure hour, price, delete button*/
.travel-line {
  background-color: #f5f5f5;
  width: 600px;
  height: 10px;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
  color: black;
  display: flex;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-between; /* répartit l'espace entre les éléments */
  align-items: center; /* aligne les éléments au centre selon l'axe vertical */
}

#total {
  background-color: none;
  border: none;
  margin: 1rem;
  padding: 1rem;
}

#enjoy {
  color: #459e85;
  font-size: 15px;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
  align-self: center;
  align-items: space-between;
}

#separation-barr {
  background-color: black;
  height: 2px;
  width: 200px; /* Ajouté */
  align-self: center; /* Ajouté */
  padding: auto;
}
